NEXT_PUBLIC_SUPABASE_URL=...
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=...
DEV_SERVICE_ROLE_KEY=...
PROD_SUPABASE_URL=...
PROD_SERVICE_ROLE_KEY=...
PROD_SUPABASE_DB_PW=...
# Used in debugging scripts
TARGET_EMAIL=...
RESEND_API_KEY=...
NEXT_PUBLIC_POSTHOG_KEY=...
NEXT_PUBLIC_POSTHOG_HOST=...
OPENAI_API_KEY=...
